.heading{
    color: #000;
    text-align: right;
    font-size: 15px;
}

.logo{
    width: 140px;
    height: 50px;
    text-align: left;
}

.user-img{
    width: 50px;
    height: 50px;
}